/cfDNA/data/
/cfDNA/cfDNA/data/
/cfDNA/cfDNA/log/
/cfDNA/cfDNA/logs/
cfDNA/logs/
/__pycache__/
*.pyc
/cfDNA/.snakemake/
/cfDNA/trimmomatic/
/cfDNA/supplementary/
/cfDNA/fastq/
/cfDNA/bam/
/cfDNA/frag/
/cfDNA/cfDNA/.snakemake/
/cfDNA/cfDNA/trimmomatic/
/cfDNA/cfDNA/cutadapt/
/cfDNA/cfDNA/fastqc/
/cfDNA/cfDNA/fastqc_trim/
/cfDNA/cfDNA/fastq/
/cfDNA/cfDNA/temp/
/cfDNA/cfDNA/local_tmp/
/cfDNA/cfDNA/bam/
/cfDNA/cfDNA/frag/
cfDNA/log/
cfDNA/**/__pycache__/
cfDNA/.snakemake/
cfDNA/trimmomatic/
cfDNA/cutadapt/
cfDNA/fastqc/
cfDNA/fastqc_trim/
cfDNA/fastq/
cfDNA/temp/
cfDNA/local_tmp/
cfDNA/bam/
cfDNA/frag/
